astroid==2.4.2
attrs==20.1.0
beautifulsoup4==4.9.1
bs4==0.0.1
certifi==2020.6.20
chardet==3.0.4
click==7.1.2
cycler==0.10.0
decorator==4.4.2
Flask==1.1.2
html5lib==1.1
idna==2.10
iniconfig==1.0.1
isort==5.5.1
itsdangerous==1.1.0
Jinja2==2.11.2
jsonschema==3.2.0
kiwisolver==1.2.0
lazy-object-proxy==1.4.3
MarkupSafe==1.1.1
matplotlib==3.3.1
mccabe==0.6.1
more-itertools==8.5.0
mypy==0.782
mypy-extensions==0.4.3
networkx==2.5
numpy==1.19.1
packaging==20.4
Pillow==7.2.0
pluggy==0.13.1
py==1.9.0
pylint==2.6.0
pyparsing==2.4.7
pyrsistent==0.16.0
pytest==6.0.1
python-dateutil==2.8.1
requests==2.24.0
selenium==3.141.0
six==1.15.0
soupsieve==2.0.1
toml==0.10.1
typed-ast==1.4.1
typing-extensions==3.7.4.3
urllib3==1.25.10
validator-collection==1.4.2
webencodings==0.5.1
Werkzeug==1.0.1
wrapt==1.12.1
