<html>
  <head>
    <title>Website connection graph</title>
    <link rel="shortcut icon" href="./static/images/favicon.ico">
  </head>
  <body>
    <h2>Network graph</h2>
    <p>Job status: {{ job_status }}</p>
    <img src = "{{ request_path }}" alt = "{{ request_path }}" width = "80%" height = "auto">
    <img src = "https://website-link-graph.s3-us-west-1.amazonaws.com/test_simple_graph" alt = "https://website-link-graph.s3-us-west-1.amazonaws.com/test_simple_graph" width = "80%" height = "auto">
  </body>
</html>